#section-top ul, #section-main .center ul, #section-footer .left-column nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v2/92zatBhPNqw73oDd4jQmfxIC7w.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v2/92zatBhPNqw73ord4jQmfxIC7w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v2/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v2/92zatBhPNqw73oDd4jQmfxIC7w.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v2/92zatBhPNqw73ord4jQmfxIC7w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v2/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v2/92zatBhPNqw73oDd4jQmfxIC7w.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v2/92zatBhPNqw73ord4jQmfxIC7w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v2/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v2/92zatBhPNqw73oDd4jQmfxIC7w.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v2/92zatBhPNqw73ord4jQmfxIC7w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v2/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  font-family: "Jost", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background: #000;
  min-height: 100%;
}

.wrapper {
  overflow: hidden;
  margin: 0 auto;
  width: 1024px;
}

.el-button, .el-button__pink, .el-button__green {
  background: #efefef;
  border: none;
  border-radius: 10px;
  display: inline-block;
  color: #333;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.el-button__pink {
  background: #e90480;
  color: #fff;
}

.el-button__green {
  background: #16a085;
  color: #fff;
}

.el-group, .el-group__green {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.el-group > *, .el-group__green > * {
  border: none;
}

.el-group > *:first-child, .el-group__green > *:first-child {
  background: #fff;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  height: 56px;
  outline: none;
  padding: 20px;
}

.el-group > *:last-child, .el-group__green > *:last-child {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e90480;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
  font-size: 22px;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
}

.el-group__green > *:first-child {
  background: #00BD9C;
  color: #fff;
  border-right: 1px solid #00BD9C;
  -webkit-transition: background .15s ease-in;
  transition: background .15s ease-in;
}

.el-group__green > *:first-child:hover {
  background: #16a085;
}

.line-block, .line-block__gray {
  background: #fff;
}

.line-block .wrapper, .line-block__gray .wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-size: 460.8px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 40px 0;
}

.line-block .wrapper.pos-right, .line-block__gray .wrapper.pos-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.line-block .content, .line-block__gray .content {
  width: 460.8px;
}

.line-block .content.full, .line-block__gray .content.full {
  width: 100%;
}

.line-block .content.center, .line-block__gray .content.center {
  text-align: center;
}

.line-block .content h3, .line-block__gray .content h3 {
  color: #e90480;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.line-block .content .description, .line-block__gray .content .description {
  font-weight: 400;
  margin: 50px auto;
}

.line-block__gray {
  background: #f1f1f1;
}

.block-modal {
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  max-width: 800px;
  width: calc(100% - 50px);
}

.block-modal-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
}

.block-modal-header .title {
  color: #16a085;
  font-size: 18px;
  font-weight: 400;
  margin-right: 15px;
  text-transform: uppercase;
}

.block-modal-header button {
  background: none;
  border: none;
  color: #999;
  cursor: pointer;
  font-size: 24px;
  margin: 0 0 0 auto;
  padding: 0;
  -webkit-transition: color 0.15s ease-in;
  transition: color 0.15s ease-in;
}

.block-modal-header button:hover {
  color: #16a085;
}

.block-modal-body {
  font-weight: 300;
  max-height: 70vh;
  overflow: auto;
  padding: 15px;
}

#section-top {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 60px;
  padding: 5px 0;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section-top ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section-top ul li {
  margin: 0 15px;
}

#section-top ul li a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color .15s ease-in;
  transition: color .15s ease-in;
}

#section-top ul li a:hover {
  color: #e90480;
}

#section-main {
  background: #8d00ff;
  background: -webkit-gradient(linear, left top, right top, from(#8d00ff), color-stop(72%, #090979), to(#020024));
  background: linear-gradient(90deg, #8d00ff 0%, #090979 72%, #020024 100%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 80vh;
  margin-top: -141px;
  padding-top: 141px;
  position: relative;
  padding-bottom: 40px;
}

#section-main .wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-size: 512px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 90px 0;
}

#section-main .center {
  width: 512px;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#section-main .center ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section-main .center h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

#section-main .center h2 {
  color: #dedede;
  font-size: 26px;
  font-weight: 400;
  line-height: 1;
  margin: 5px 0;
  padding: 0;
  text-transform: lowercase;
}

#section-main .center .el-button__pink {
  margin-top: 20px;
}

#section-home-slider .wrapper {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#section-home-slider .main-column {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 256px;
}

#section-home-slider .slide-column {
  margin-left: 51.2px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#section-home-slider .slide-column .navigation {
  height: 30px;
  margin-bottom: 10px;
  text-align: right;
}

#section-home-slider .slide-column .navigation button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 20px;
}

#section-home-slider .slide-column .navigation button + button {
  margin-left: 20px;
}

#section-home-slider .slide-column .slide-items {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 -10px;
  height: 230px;
}

#section-home-slider .slide-column .slide-items > * {
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(50% - 20px);
}

#section-home-slider .slide-column .slide-items > * picture {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  max-height: 320px;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

#section-home-slider .slide-column .slide-items > * picture figure {
  height: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0;
  display: block;
  padding: 56.25% 0 0 0;
  position: relative;
}

#section-home-slider .slide-column .slide-items > * picture figure img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

#section-subscribe {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../images/subscribe.jpg") left center no-repeat;
  background-size: 100% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#section-subscribe:before, #section-subscribe:after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#section-subscribe:before {
  background: url("../images/lines.png");
  opacity: 0.1;
  z-index: 1;
}

#section-subscribe:after {
  background: black;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(85%, black), to(black));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 85%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
  z-index: 2;
}

#section-subscribe .wrapper {
  position: relative;
  text-align: center;
  z-index: 3;
}

#section-subscribe h3 {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
}

#section-subscribe form {
  margin: 20px auto 0;
}

#section-footer {
  background: #1b1536;
  color: #fff;
  padding: 0;
  margin-bottom: 0;
}

#section-footer .wrapper {
  padding-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#section-footer .left-column nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section-footer .left-column nav ul li {
  margin-left: 20px;
  padding-left: 22px;
  position: relative;
}

#section-footer .left-column nav ul li:first-child {
  margin-left: 0;
  padding-left: 0;
}

#section-footer .left-column nav ul li:first-child:before {
  display: none;
}

#section-footer .left-column nav ul li a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color .15s ease-in;
  transition: color .15s ease-in;
}

#section-footer .left-column nav ul li a:hover {
  color: #e90480;
}

#section-footer .copyright {
  padding-top: 45px;
  text-align: center;
  background: black;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 45px;
}

#section-symptoms {
  padding: 40px 0;
}

#section-symptoms .wrapper {
  padding: 0;
}

#section-symptoms .wrapper ul {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
}

#section-symptoms .wrapper ul li {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#section-symptoms .wrapper ul li div {
  display: block;
  overflow: hidden;
}

#section-symptoms .wrapper ul li h3 {
  padding-top: 10px;
  color: #3e395f;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  background: #f1f1f1;
  text-align: center;
  margin: 0;
}

#section-symptoms .wrapper ul li p {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  margin-top: 0;
  background: #f1f1f1;
}

#section-symptoms img {
  -webkit-transition: 1s;
  transition: 1s;
  display: block;
  overflow: hidden;
}

#section-symptoms img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
/*# sourceMappingURL=index.css.map */