#section-footer{
    background: #1b1536;
    color: #fff;
    padding: 0;
    margin-bottom: 0;
    .wrapper{
        padding-top: 45px;
        display: flex;
        justify-content: space-between;
    }
    .left-column{
        nav{
            ul{
                @extend %liststyle;
                display: flex;
                li{
                    margin-left: 20px;
                    padding-left: 22px;
                    position: relative;
                    &:first-child{
                        &:before{
                            display: none;
                        }
                        margin-left: 0;
                        padding-left: 0;
                    }
                    a{
                        color: #fff;
                        font-size: 14px;
                        font-weight: bold;
                        text-decoration: none;
                        text-transform: uppercase;
                        transition: color .15s ease-in;
                        &:hover{
                            color: $pink-clr;
                        }
                    }
                }
            }
        }
    }
    .copyright{
        padding-top: 45px;
        text-align: center;
        background: black;
        margin-top: 5px;
        font-size: 14px;
        font-weight: 600;
        padding-bottom: 45px;
    }
}