#section-footer{
    background: #1b1536;
    color: #fff;
    padding: 0;
    margin-bottom: 0;
    .wrapper{
        padding-top: 45px;
        display: flex;
        position: relative;
        justify-content: space-between;
    }
    .column{
        box-sizing: border-box;
        width: 230px;
        nav{
            ul{
                @extend %liststyle;
                li{
                    padding-bottom: 6px;
                    position: relative;
                    &:first-child{
                        &:before{
                            display: none;
                        }
                        margin-left: 0;
                        padding-left: 0;
                    }
                    a{
                        color: #fff;
                        font-size: 14px;
                        font-weight: 400;
                        text-decoration: none;
                        text-transform: uppercase;
                        transition: color .15s ease-in;
                        &:hover{
                            color: $pink-clr;
                        }
                    }
                }
            }
        }
        .title{
            font-size: 14px;
            font-weight: 600;
        }
    }
    .copyright{
        padding-top: 45px;
        text-align: center;
        background: black;
        margin-top: 5px;
        font-size: 14px;
        font-weight: 600;
        padding-bottom: 45px;
    }
    .social{
        ul{
            @extend %liststyle;
            display: flex;
            li{
                padding-top: 0;
                padding-bottom: 10px;
                padding-right: 20px;
                padding-left: 0;
            }
        }
    }
    .contacts{
        ul{
            @extend %liststyle;
            li{
                padding-bottom: 6px;
            }
        }
    }

    
}