#section-main {
    background: rgb(141,0,255);
    background: linear-gradient(90deg, rgba(141,0,255,1) 0%, rgba(9,9,121,1) 72%, rgba(2,0,36,1) 100%);
    box-sizing: border-box;
    height: 80vh;
    margin-top: -141px;
    padding-top: 141px;
    position: relative;
    padding-bottom: 40px;
    .wrapper{
        align-items: center;
        background-repeat: no-repeat;
        background-size: $size-desktop * 0.5 auto;
        display: flex;
        justify-content: flex-start;
        padding: 90px 0;
    }
    .center{
        width: $size-desktop * 0.5;
        text-decoration: none;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        ul{
            @extend %liststyle;
            align-items: center;
            display: block;
            justify-content: center;
        }
    h1{
        color: #fff;
        font-size: 60px;
        font-weight: 600;
        line-height: 1;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
    }
    h2{
        color: #dedede;
        font-size: 26px;
        font-weight: 400;
        line-height: 1;
        margin: 5px 0;
        padding: 0;
        text-transform: lowercase;
    }
    .el-button__pink{
        margin-top: 20px;
    }
}
}