#section-top {
    height: 60px;
    width: 100%;
    z-index:3;
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapper{
    transition: 0.25s ease-in;
    box-sizing: border-box;
    height: 60px;
    width: 100%;
    padding: 5px 0;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    ul{
        @extend %liststyle;
        align-items: center;
        display: flex;
        justify-content: center;
        li{
            margin: 0 15px;
            a{
                color: #fff;
                font-weight: 600;
                text-decoration: none;
                text-transform: uppercase;
                transition: color .15s ease-in;
                &:hover{
                    color: $pink-clr;
                }
            }
        }
    }
    }
}
.header{
    .wrapper{
        width: 100%;
        background-color: #1D1F21;
    }
}