#section-top {
    box-sizing: border-box;
    height: 60px;
    padding: 5px 0;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    ul{
        @extend %liststyle;
        align-items: center;
        display: flex;
        justify-content: center;
        li{
            margin: 0 15px;
            a{
                color: #fff;
                font-weight: 600;
                text-decoration: none;
                text-transform: uppercase;
                transition: color .15s ease-in;
                &:hover{
                    color: $pink-clr;
                }
            }
        }
    }
}