.line-block {
    background: #fff;
    .wrapper {
        align-items: center;
        background-repeat: no-repeat;
        background-size: $size-desktop * 0.5 auto;
        display: flex;
        justify-content: flex-start;
        padding: 90px 0;
        &.pos-right {
            justify-content: flex-end;
        }
    }
    .content {
        &.full{
            width: 100%;
        }
        &.center{
            text-align: center;
        }
        width: $size-desktop * 0.5;
        h3 {
            color: $green-clr;
            font-size: 20px;
            font-weight: 400;
            text-transform: uppercase;
        }
        .description {
            font-weight: 300;
            margin: 50px auto;
            p {
                margin: 0;
            }
        }
    }
}
.line-block__gray {
    @extend .line-block;
    background: $gray-clr;
}